.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  position: fixed;  
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  background-color: black;
  border-top: 5px solid navy;
  color: white;
}