.App {
    text-align: center;
  }
  
  .loginForm {
    border: 5px solid rgba(221, 190, 17, 0.849);
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5pt 5pt 5pt 5pt;
    text-align: center;
    background-color: white;

  }


  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  