.signupForm {
        border: 5px solid rgba(221, 190, 17, 0.849);
        margin-top: 10%;
        margin-left: 25%;
        margin-right: 25%;
        padding: 5pt 5pt 5pt 5pt;
        text-align: center;
        background-color: white;
    
    }